APP_NAME=appointment-service
PORT=8004
MONGO_URI=mongodb://localhost:27018
DATABASE_NAME=appointment_db
MONGO_USERNAME=admin
MONGO_PASSWORD=admin123
MONGO_AUTH_SOURCE=admin
EMAIL_NOTIFICATIONS_ENABLED=true
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=templifepulse@gmail.com
SMTP_PASSWORD=tlmk rqfo vfwj kgva
SMTP_FROM=templifepulse@gmail.com
SMTP_USE_TLS=true